/*reset*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
background: #7CE57C;
background: linear-gradient(135deg, #7CE57C, #8DE8C1);
    padding: 10px;
}

.card{
 width: 100%;
 max-width: 650px;
 height: auto;
 background-color: #fff;
 margin: 100px auto 20px;
 padding: 40px 30px 70px;
}

.card h2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.card img{
    margin-left: 10px;
    width: 30px;
}


.r-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e0ebeb;
    padding-left: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
}

#input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

#b-button{
    cursor: pointer;
    border: none;
    border-radius: 40px;
    outline: none;
    padding: 16px 50px;
    background-color: #7CE57C;;
    color: #000;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url("ToDoImg/unchecked-41.png");
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url("ToDoImg/green-checkmark-transparent-17.png");
}

ul li span{
    position: absolute;
    top: 5px;
    right: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
}

ul li span:hover{
    background-color: #ff4d4d;
}